.container {
  display: grid;
  grid-template-columns: 35px repeat(4, 1fr) auto;
  grid-template-rows: minmax(20px, auto);
  gap: 20px 1px;
  /* place-items: center; */
}

.column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: darkgray;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bold;
}

.section-splitter {
  grid-column: 1 / span 6;
  background-color: gainsboro;
  height: 10px;
}

button {
  font-size: xx-small;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: auto;
}

.number-counter {
  display: flex;
  flex-direction: column;
}
.number-counter > div {
  margin: 3px 0px;
}

.history-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
