.container {
  display: grid;
  grid-template-columns: 30px repeat(4, 1fr) auto;
  grid-template-rows: minmax(20px, auto);
  gap: 30px 10px;
  /* place-items: center; */
}

.column-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: darkgray;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: bold;
}

input {
  font-size: medium;
  width: 100%;
  text-align: center;
}

.player-button-container {
  display: flex;
  flex-direction: column;
}
.player-counter {
  display: flex;
  justify-content: space-between;
}
.player-counter > button {
  margin: 5px 0px 0px 0px;
  flex: 1;
}

.section-splitter {
  grid-column: 1 / span 6;
  background-color: gainsboro;
  height: 10px;
}

button {
  font-size: xx-small;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: auto;
}

.number-counter {
  display: flex;
  flex-direction: column;
}
.number-counter > div {
  margin: 3px 0px;
}
.number-counter > button {
  /* font-size: small; */
  width: 24px;
}

.submit-button {
  grid-column: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}

.history-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
